name: Release multi-arch image on tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    uses: doda25-team20/build-tools/.github/workflows/docker-release.yml@v1
    permissions:
      contents: read
      packages: write
    with:
      image: ghcr.io/doda25-team20/app
      context: .
      dockerfile: ./Dockerfile
      platforms: linux/amd64,linux/arm64
    secrets: inherit
